<h2>The following providers are configued for authentication</h2>

<% if ENV['GITHUB_KEY'] && ENV['GITHUB_SECRET'] %>
  <a href="/auth/github" class="btn btn-block btn-social btn-github">
    <i class="fa fa-github"></i> Sign in with GitHub
  </a>
<% end %>

<% if ENV['HEROKU_KEY'] && ENV['HEROKU_SECRET'] %>
  <a href="/auth/heroku">Login with Heroku</a><br>
<% end %>

<% if ENV['GOOGLE_ID'] && ENV['GOOGLE_SECRET'] %>
  <a href="/auth/heroku" class="btn btn-block btn-social btn-google">
    <i class="fa fa-google"></i> Sign in with Google
  </a>
<% end %>
