<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
  </head>
  <body>
    <h1>Configuration group: <%= @cg.name %></h1>
    <h2>Create new configuration</h2>
    <form action="<%= "/configuration-groups/#{@cg.id}" %>" method="post">
      Name: <input type="text" name="config[name]"><br>
      Version: <input type="number" name="config[version]"><br>
      Notes:<br>
      <textarea name="config[notes]" rows=5></textarea><br>
      Configuration JSON:<br>
      <textarea name="config[config_json]" rows=20></textarea><br>
      <button type="submit">Add</button>
    </form>
  </body>
</html>
