<div class="container">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Endpoint Groups</div>

    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Group Name</th>
          <th>Endpoint Count</th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |cg| %>
          <tr>
            <td><a href="<%= "/configuration-groups/#{cg.id}" %>"><%= cg.name %></a>
              <% if cg.canary_in_progress? %><span class="label label-info">canary</span><% end %></td>
            <td><%= cg.endpoints.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->

<div class="container">
  <form  method="post">
    <label>Add new Configuration Group</label>
    <input class="form-control" type="text" name="name" id="group" placeholder="New Connfiguration Group">
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
